/* Синяя кнопка */
#button-design .b-blue,
#button-design .b-blue:before {
    background: #0576ff;
    background: -moz-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0, #0576ff), color-stop(100%, #24f8ff));
    background: -webkit-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: -o-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: -ms-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1)
}

#button-design .button2 {
    display: inline-block;
    font-size: 2em;
    margin: .5em;
    padding: .5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0);
    color: #FFF;
    text-decoration: none
}

#button-design .rot-135:hover {
    filter: hue-rotate(135deg)
}





/* Красная кнопка */
#button-design .b-red,
#button-design .b-red:before {
    background: #ea6e48;
    background: -moz-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0, #ea6e48), color-stop(100%, #bc1a63));
    background: -webkit-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: -o-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: -ms-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea6e48', endColorstr='#bc1a63', GradientType=1)
}

#button-design .button2 {
    display: inline-block;
    font-size: 2em;
    margin: .5em;
    padding: .5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0);
    color: #FFF;
    text-decoration: none
}

#button-design .rot-135:hover {
    filter: hue-rotate(135deg)
}


/* Ораньжевая кнопка */
#button-design .b-orange,
#button-design .b-orange:before {
    background: #ffc107;
    background: -moz-linear-gradient(45deg, #ffc107 0, #ff5722 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0, #ffc107), color-stop(100%, #ff5722));
    background: -webkit-linear-gradient(45deg, #ffc107 0, #ff5722 100%);
    background: -o-linear-gradient(45deg, #ffc107 0, #ff5722 100%);
    background: -ms-linear-gradient(45deg, #ffc107 0, #ff5722 100%);
    background: linear-gradient(45deg, #ffc107 0, #ff5722 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc107', endColorstr='#ff5722', GradientType=1)
}

#button-design .button2 {
    display: inline-block;
    font-size: 2em;
    margin: .5em;
    padding: .5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0);
    color: #FFF;
    text-decoration: none
}

#button-design .rot-135:hover {
    filter: hue-rotate(135deg)
}

/* В один ряд кнопки */
div.Panel {
    list-style: none;
}

/* html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  
  min-height: 100%;
}

.header,
.footer {
  flex: 0 1 auto;
}

.body {
  flex: 1 1 auto;
} */
/* Выравнивание по середине */
#button-design {
    height: 10em;
    position: relative }
#button-design {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }