#button-design .b-red,
#button-design .b-red:before {
    background: #ea6e48;
    background: -moz-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0, #ea6e48), color-stop(100%, #bc1a63));
    background: -webkit-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: -o-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: -ms-linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    background: linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea6e48', endColorstr='#bc1a63', GradientType=1)
}

#button-design .button {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    padding: .5em;
    margin: .5em;
    font-size: 2em;
    font-weight: 700;
    transition: all .5s;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent
}

#button-design .button:hover {
    text-shadow: 0 0 0 rgba(255, 255, 255, .75)
}

#button-design .button:hover:after {
    left: 100%;
    top: 100%;
    bottom: 100%;
    right: 100%
}

#button-design .button:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all .5s
}

#button-design .button:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: -1;
    border-radius: 5px;
    transition: all .5s;
    background: #fff
}